<div style="text-align: right;">
  <button class="btn btn-dark float-right mb-3"  routerLink="/logout">Logout</button>

</div>
<form (submit)="Add($event)">
  <div class="form-group">
    <label for="task">Task title:</label>
    <input type="text" name="title" id="task" [ngClass]="{'is-invalid': title ==='' && formSubmit}"  [(ngModel)]="title" class="form-control" placeholder="Enter task title">
    <div class="invalid-feedback">Task can't be blank!</div>
  </div>
  <button class="btn btn-danger">Add Task</button>
</form>
